body {
  background: url(../sitewite/assets/nurple-static-bright.gif);
  color: #ffffe4;
  text-align: center;
  margin: 0;
  height: 100%;
}

a {
  color: #ffffe4;
}

.title {
  display: inline-block;
  margin: 2rem 0;
}

.title h1 {
  font-size: 5vw;
}

.title a {
  font-size: 1.25vw;
}

.blog {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.post p {
  max-width: 50%;
  margin-block: 0.5em;
  font-size: 18px;
}

.date {
  font-weight: bold;
  font-size: 20px;
}
