body {
  background: url(../sitewite/assets/pattern\ 463.jpg);
  color: black;
  text-align: center;
}

.title {
  max-width: 500px;
  height: auto;
  margin: auto;
  background: url(../sitewite/assets/gskbg.jpg);
  border-radius: 25px;
}

.links {
  max-width: 500px;
  height: auto;
  margin: auto;
  background: url(../sitewite/assets/gskbg.jpg);
  border-radius: 25px;
}

a {
  color: black;
  text-shadow: 1px 1px 3px lightslategray;
}

.content {
  max-width: 50%;
  width: auto;
  height: auto;
  margin: 20px auto;
  background: url(../sitewite/assets/gskbg.jpg);
  border-radius: 25px;
}

h1,
h2,
h3 {
  text-shadow: 2px 2px 5px lightslategray;
}

.box {
  display: flex;
  max-width: 500px;
  height: 175px;
  margin-bottom: 35px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  align-content: center;
}

.box img {
  height: 125px;
  margin-bottom: 1rem;
}

.characters {
  display: flex;
  max-width: 1500px;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

p {
  margin: 2rem;
}

.box p {
  margin: auto;
}
