@font-face {
  font-family: "VCR OSD Mono";
  src: url(../sitewide/fonts/VCR_OSD_MONO.woff);
}

body {
  background: url(../sitewide/assets/lisafeature.jpeg);
  background-size: cover;
  color: white;
  text-align: center;
  font-family: "VCR OSD Mono", monospace;
}

.logo {
  margin: auto;
  width: 60%;
  height: auto;
  border: white solid thick;
  border-radius: 20px;
  background: black;
  display: flex;
  justify-content: center;
}

img {
  width: 60%;
  height: auto;
  margin: 5%;
}

.container {
  display: block;
}

.triggerwarning {
  font-size: 50px;
  border: white solid thick;
  border-radius: 20px;
  background: black;
  margin: auto;
}

hr {
  border: 1px solid black;
}

.triggerwarning span {
  cursor: pointer;
}
