@font-face {
  font-family: "Monocraft", monospace;
  src: url(../sitewite/fonts/Monocraft.ttf) format("truetype");
}

body {
  text-align: center;
  font-family: "Monocraft", monospace;
  color: white;
  background: url(../sitewite/assets/dirt.webp);
}

.logo img {
  height: auto;
  width: 900px;
  margin: auto;
}

.story {
  width: 1100px;
  height: auto;
  margin: auto;
}

a {
  color: #0db50d;
  text-decoration: none;
}

.links {
  height: auto;
  width: 400px;
  margin: auto;
}
