@import url("https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap");

body {
  background: url(../../site/assets/forest-min.jpg);
  background-size: cover;
  overflow: hidden;
  font-family: "UnifrakturMaguntia", system-ui;
  font-weight: 400;
  font-style: normal;
  height: 100vh;

  *::selection {
    color: #222;
    background: #cfb0d2;
  }

  *::-moz-selection {
    color: #222;
    background: #cfb0d2;
  }

  *::-webkit-selection {
    color: #222;
    background: #cfb0d2;
  }
}

.ghost {
  text-align: center;
  filter: url(#f1);
  color: rgba(255, 255, 255, 0.8);
  font-size: 10rem;
}
