.shantell-sans-config {
  font-family: "Shantell Sans", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "BNCE" 0,
    "INFM" 0,
    "SPAC" 0;
}

body {
  font-family: "Shantell Sans", cursive;
  overscroll-behavior-x: auto;
  background: black;
  color: #f2f0ef;
  height: 100%;
  margin: 0;
}

html:before {
  content: " ";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.16) 50%);
  z-index: 2;
  background-size:
    100% 2px,
    3px 100%;
  pointer-events: none;
}

h1 {
  text-align: center;
}
