body {
  background: url(../../site/assets/pattern\ 239.gif);
  color: #c0b0d9;
  text-align: center;
}

a {
  color: #c0b0d9;
  text-decoration: none;
  font-style: italic;
}

.title {
  margin-bottom: 10%;
}

.title h1 {
  font-size: 36px;
}

.name {
  font-size: 27px;
}

.info {
  font-size: 20px;
}
